* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
}

a {
  text-decoration: none;
}

/*********/

#page {
  display: grid;
  background-image: url(https://cursinhoparamedicina.com.br/wp-content/uploads/2022/10/Paisagem-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  grid-template-areas:
    "head head head"
    "nav  main main"
    "foot  foot foot";
}

#page > header {
  grid-area: head;
  background-color: black;
}

#page > nav {
  grid-area: nav;
  background-color: rgba(0, 0, 0, 0.486);
}

#page > main {
  grid-area: main;
  background-color: white;
}

#page > footer {
  grid-area: foot;
  background-color: black;
}

.footer .grid {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

/*  */

.container {
    margin: 0 12.5rem;
}

.contatos {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 2rem;
}

.contatos a {
    color: white;
    font: 400 1rem 'Lucida', sans-serif;
    margin-left: 3rem;
}

.menu {
    display: flex;
    flex-direction: column;
}

.menu a {
    font: 400 1.2rem 'Lucida', sans-serif;
    color: white;
}

.logo h1, .logo h2 {
    font: 700 2rem 'Lucida', sans-serif;
    color: white;
    margin: 2rem 0;
}

.logo h2 {
    color: black;
}

.grid h4 {
    color: white;
    font: 700 1.2rem 'Lucida', sans-serif;
}

.grid p, .grid a {
    color: white;
    font: 500 1rem 'Lucida', sans-serif;
}

.grid-dois {
    display: flex;
    flex-direction: column  ;
}


.grid {
    margin: 2.7rem 0;
}

.icones img {
    width: 1.4rem;
}

input {
    width: 16rem;
    height: 1.2rem;
    border-radius: 0.7rem;
}

button {
    padding: 4px 8px;
    border-radius: 0.2rem;
    
}